@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'awaken';
    src: url("/core-vault/public/fonts/AwakenRegular-eZoyn.otf");
  }

  @font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  }

  body {
    @apply font-roboto font-light bg-nude-white
  }

  .max-w-container {
    @apply max-w-[90rem] px-10 w-full mx-auto
  }

  h1 {
    font-size: clamp(1.875rem, 1.5rem + 2.8169vw, 3.75rem);
    @apply font-awaken capitalize leading-normal
  }

  h2 {
    @apply font-awaken text-3xl md:text-4xl leading-normal lg:text-5xl
  }

  h3 {
    @apply text-2xl lg:text-3xl
  }

  h4 {
    @apply text-xl lg:text-2xl
  }

  p {
    @apply text-base md:text-lg text-text-gray
  }

  a {
    @apply font-roboto font-medium text-lg tracking-wide
  }

  .hero {
    width: 100%;
    height: 100%;
    filter: contrast(100%) brightness(100%);
    background:
      radial-gradient(circle at 21% 150%, rgba(50, 77, 144, 1), rgba(0, 0, 255, 0)),
      radial-gradient(circle at 127% 3%, rgba(219, 198, 255, 1), rgba(255, 0, 0, 0)),
      radial-gradient(circle at 85% 0%, rgba(216, 216, 216, 1), rgba(251, 251, 251, 0)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 293 293' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.11' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");



    background-blend-mode: multiply, multiply;

  }


  .MuiTabs-fixed {
    overflow: visible !important;
  }

  .inner-container {
    clip-path: inset(0);
    transition: clip-path 0.3s ease;
  }

  .inner-container.no-clip {
    clip-path: none;
  }

}

@layer utilities {
  .btn-shadow {
    @apply shadow-custom hover:translate-y-[1px] hover:shadow-hoverCustom;
  }
}